sudo: required
language: python
python:
- '2.7'
install:
- sudo apt-get install rpm
- pip install coveralls
- pip install pybuilder
- pyb install_dependencies
script: pyb
after_success:
- coveralls --verbose
deploy:
  provider: releases
  api_key:
    secure: OJ5+x3bGC+uviLoGMOvSajD57okOH6w2G5NI2PYvRXwqCYbJqxCLlLp007kt6JBJnpTtburUJz1AUffp/jBPJcHAJuWbXJzj4OFpcfPvuIwsWmcn8I3P1hpmchBpDFsTzDVyEuT7rqtRlqYqZiYK6pF/4W/92f4QlvEJdbvuTWKrd4bUvygaxX5MM37nFoaYxR0RQ2jG+2xHT4Ee6DrQtQN2HJhbCVw7GzSV1rF2Wusgm14hsyx8rvKDHdXYLdABU26seJlufuNMqc2QoSBMf6HYnssdZMYnJYJpILhJf3FuNAX3mYxyWUQUxyG7osiTX9aZFOWp7+PZIUebt2BOYrKIdHg2JC9Yg0fAPPBvxstbxZ5y0NYvO/lP1jN63fCETkyhwo4MjjQyUdqhtVJZAkOcoqEvhHXjEVeTum1rHqzkFu7x6lx2jRpGvDAgUb+cupCyL1U6jJtK660pTA8jjgTxvvTcvRT6O5hIUlcPpeMOp2seDDcwYZIOE/FHkOD8ayANaSZ6wiq4GnvFmeRqsEibvBg2ERDazp4uOEeshEHKLFe4XC+BwbLaTlOGdqfKliPxyA/KKbpLoKxOQXz7t9BqW5xMz6hsDI8jDXW1y1fLk6y8f6XZ944r8i1yDvGQYdv4mYeL2OLoRIu0BGPzcr4AE/9VnR1VixSw9AVZvFE=
  file:
    - target/dist/*/dist/*.noarch.rpm
    - target/dist/*/dist/*.src.rpm
  on:
    repo: arnehilmann/sunstone-rest-client
